<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<head><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="#"></head>
<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm mx-auto d-flex text-center">
                    <h2 class="mt-5">SNIPPIT</h2>
                    <form method="post" action="{{ url_for('index') }}">
                        <input type="button" class="btn btn-primary" value="Start Camera" onclick="openCam()"/>
                        <input type="button" class="btn btn-info" value="Capture" onclick="takePicture()"/>
                        <input type="button" class="btn btn-success" value="Segment" onclick="upload()"/>
                        <input type="file" id="fileUpload" name="fileUpload" accept="image/png, image/jpeg">
                    </form>
                </div>
                <div class="mx-auto col-sm p-2 d-flex text-center">
                    <video id="videoInput"></video>
                </div>
                <br />
                <canvas hidden id="canvas" class="d-none"> </canvas>
                <div class="mx-auto col-sm p-2 d-flex text-center">
                    <img id="capture" alt="Snapshot will appear here">
                </div>
                <br />
            </div>
        </div>
    <script>
            let width = 640;
            let height = 480;

            window.onload = function() {
                var input = document.getElementById('fileUpload');
                var imgInput = document.getElementById('fileUpload');
                let capture = document.getElementById("capture");

                imgInput.addEventListener('change', function(e) {
                if(e.target.files[0]) {
                  let imageFile = e.target.files[0]; //here we get the image file
                  var reader = new FileReader();
                  reader.readAsDataURL(imageFile);
                  reader.onloadend = function (e) {
                    var myImage = new Image(); // Creates image object
                    myImage.src = e.target.result; // Assigns converted image to image object
                    myImage.onload = function(ev) {
                      var canvas = document.getElementById("canvas"); // Creates a canvas object
                      var context = canvas.getContext("2d"); // Creates a contect object
                        canvas.setAttribute("width", width);
                        canvas.setAttribute("height", height)

                      // centre img on canvas ctx to fit
                        var scale = Math.min(context.canvas.width / myImage.width, context.canvas.height / myImage.height); // get the min scale to fit
                        var x = (context.canvas.width - (myImage.width * scale) ) / 2; // centre x
                        var y = (context.canvas.height - (myImage.height * scale) ) / 2; // centre y
                        context.drawImage(myImage, x, y,  myImage.width, myImage.height); // draw scaled img onto the canvas.

                        const data = canvas.toDataURL("image/png");
                        capture.setAttribute("src", data);
                    }
                  }
                }
                });
            }
            function openCam() {
             let All_mediaDevices=navigator.mediaDevices
             if (!All_mediaDevices || !All_mediaDevices.getUserMedia) {
                console.log("getUserMedia() not supported.");
                return;
             }
             All_mediaDevices.getUserMedia({
                audio: false,
                video: {
                    facingMode: 'environment'
                }
             })
             .then(function(vidStream) {
                var video = document.getElementById('videoInput');
                if ("srcObject" in video) {
                   video.srcObject = vidStream;
                } else {
                   video.src = window.URL.createObjectURL(vidStream);
                }
                video.onloadedmetadata = function(e) {
                   video.play();
                };
             })
             .catch(function(e) {
                console.log(e.name + ": " + e.message);
             });
          }

          function takePicture() {
            canvas = document.getElementById("canvas");
            capture = document.getElementById("capture");
            var video = document.getElementById('videoInput');
            const context = canvas.getContext("2d");
            canvas.setAttribute("width", width);
            canvas.setAttribute("height", height)
            context.drawImage(video, 0, 0, width, height);
            const data = canvas.toDataURL("image/png");
            capture.setAttribute("src", data);
          }


         function upload() {
            const file = $("#capture").attr('src');
            var imageStr = file.substring(file.indexOf(",") + 1);
            let formData = new FormData();
            formData.append('image', imageStr);
            $.ajax({
                url: "/captured",
                type:"POST",
                data: formData,
                contentType: false,
                processData: false,
                error: function(data){
                    console.log("upload error", data);
                    console.log(data.getAllResponseHeaders());
                },
                success: function(data){
                    $("#capture").attr('src', data)
                }
            });
		   }
        </script>
    </body>
</html>